<div class="row">
    <div class="col-sm-10">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-blue rounded box-shadow">
            <img class="mr-3" *ngIf="usuario.pictureUrl" [(src)]="usuario.pictureUrl" alt="" width="48" height="48">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">{{usuario.fullname}},</h6>
                <small>Bem vindo(a) ao Ambiente Virtual de Aprendizado</small>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <button class="align-items-center p-3 my-3 btn btn-dark" type="submit" (click)="Deslogar()">Desconectar</button>
    </div>
</div>