<main role="main" class="container">

    <app-header></app-header>

    <div class="my-3 p-3 bg-white rounded box-shadow" *ngIf="institucionais">
        <h6 class="border-bottom border-gray pb-2 mb-0">Central do Aluno - Institucional</h6>
        <div *ngFor="let institucional of institucionais" class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                {{institucional.fullname}}
            </p>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <span *ngIf="materias">
        <h6 class="border-bottom border-gray pb-2 mb-0">Materias</h6>
        <div *ngFor="let materia of materias" class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <a [routerLink]="['/materia', materia.id, materia.fullname]">{{materia.fullname}}</a>
            </p>
        </div>
        </span>
        <span *ngIf="!materias">
           <h6 class="border-bottom border-gray pb-2 mb-0">Não há matérias</h6>
        </span>
    </div>
</main>