form {
    font-size: 15px;
    max-width: 500px;
}

.input {
    margin-bottom: 10px;
}

input,
textarea,
select {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    color: black;
    font-weight: bold;
}

.submit input {
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-left: 18px;
    color: black;
}

.title h2 {
    margin-bottom: 2px;
    font-size: 1.2em;
}