body {
  font-family: arial;
  background-image: url("../img/background.png");
  background-repeat: repeat;
}

header {
  width: 100%;
  margin-bottom: 2em;
}

header img {
  margin-left: 2em;
}



footer .rodape {
  background-image: url("../img/fundo-rodape.png");
  float: left;
  width: 930px;
  height: 90px;
  margin-top: 1em;
}

footer .rodape img {
  margin-left: 1.5em;
  margin-top: 1.2em;
  margin-right: 2em;
  float: left;
  opacity: 0.5;
}

footer .rodape div {
  color: #c9c9c9;
  margin-top: 3em;
  float: left;
}

footer .rodape #sociais {
  opacity: 1 !important;
  float: right;
  margin-top: 2em;
}

.title {
  padding: 0.4em;
  padding-top: 1em;
}

hr {
  margin-top: 0em;
  border: 0.5px solid;
}

.shadow {
  -moz-box-shadow: inset 0 0 8px #4c4c4c;
  -webkit-box-shadow: inset 0 0 8px #4c4c4c;
  box-shadow: inset 2 2 8px #4c4c4c;
}

#container {
  width: 940px;
  margin: 0 auto;
}

#carrinho {
  float: right;
  width: 10em;
  height: 5em;
  margin-right: 1.5em;
  margin-top: 1em;
}

#carrinho img {
  float: right;
  margin: 10px;
}

#menu {
  float: right;
  text-align: right;
  width: 100%;
  margin-top: -1.5em;
  padding-right: 2em;
}

#menu a{
  padding-left: 1em;
}

a {
  color: green;
  text-decoration: none;
}

